@model List<VmCart>
@{
    ViewData["Title"] = "Cart";
}


<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/images/bg/2.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Cart</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="index.html">Home</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb-item active">Cart</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- cart-main-area start -->
<div class="cart-main-area ptb--120 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th>Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr class="prd">
                                            <td class="product-thumbnail"><a href="#" ><img src="~/images/product/@item.MainImage" alt="product img" /></a></td>
                                            <td class="product-name"><a href="#">@item.Name</a></td>
                                            <td class="product-price"><span class="amount">£@item.Price.ToString("0.00")</span></td>
                                            <td class="product-quantity"><input type="number" class="quantityCart" data-price="@item.Price" data-id="@item.Id" data-max="@item.MaxQuantity" value="@item.Quantity" max="@item.MaxQuantity"/></td>
                                            <td class="product-subtotal">£@((item.Price * item.Quantity).ToString("0.00"))</td>
                                            <td class="product-remove"><a class="removePrd" data-id="@item.Id" data-price="@item.Price" data-quantity="@item.Quantity" href="#">X</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-7 col-xs-12">
                            <div class="buttons-cart">
                                <a asp-controller="shop" asp-action="index">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <div class="cart_totals">
                                <h2>Cart Totals</h2>
                                <br />
                                <table>
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Subtotal</th>
                                            @{
                                                decimal subTotal = 0;
                                                if (Model!=null)
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        subTotal += item.Price * item.Quantity;
                                                    }
                                                }
                                            }
                                            <td><span class="amount" id="subTotal">£@subTotal.ToString("0.00")</span></td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>Shipping</th>
                                            <td>
                                                <ul id="shipping_method">
                                                    @if (subTotal >= 100)
                                                    {
                                                        <li>
                                                            <label>
                                                                <span class="amount amountShopping">Free</span>
                                                            </label>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <label>
                                                                <span class="amount amountShopping">£7.00</span>
                                                            </label>
                                                        </li>
                                                    }
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td>
                                                @if (subTotal >= 100)
                                                {
                                                    <strong><span class="amount finalTotal">£@subTotal.ToString("0.00")</span></strong>

                                                }
                                                else
                                                {
                                                    <strong><span class="amount finalTotal">£@((subTotal+7).ToString("0.00"))</span></strong>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <div class="wc-proceed-to-checkout" style="margin-top: 100px; margin-left: 33px;">
                                    <a asp-controller="shop" asp-action="checkout">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- cart-main-area end -->
